<div class="module-usage-report">
<h2>Module Usage Documentation</h2>
{% set suppress_buttons = 1 %}
  {% for machine_name, module_info in module_data %}
  <div class="module-info">
    <h3>{{ module_info.module_usage.0.name }}</h3>
    <div class="module-description">{{ module_info.module_usage.0.description }}</div>
    {% if module_info.module_usage_notes|length > 0 %}
    {% set notes = module_info.module_usage_notes %}
    {% include('@module_usage/module-usage--notes.html.twig') %}
    {% endif %}

    {% if module_info.module_usage_urls|length > 0 %}
      {% set urls = module_info.module_usage_urls %}
      {% include('@module_usage/module-usage--urls.html.twig') %}
    {% endif %}
  </div>
  {% endfor %}
</div>
