<div id="add-edit-dialog" class="popup-dialog" style="display: none">
  <div class="popup-content">
    <div class="dialog-header">
      <div class="popup-title"></div>
      <span class="close-popup">
        <div class="dismiss-icon"></div>
      </span>
    </div>
    <div id="dialog-content"></div>
  </div>
</div>
