<div class="module-documentation" data-module="{{ machine_name }}">
  <div class="btn module-accordion-header documentation-header" data-module="{{ machine_name }}">Module Usage Documentation</div>
  <div class="module-accordion-body-container" data-module="{{ machine_name }}">
    <div id ="extension-{{ machine_name }}"></div>
  </div>
</div>
