{% block tab_content_notes %}
  <div class="notes-container" id="note-container-{{ machine_name }}">
    <div class="title-container">
      <div class="notes-help">
        Notes where this module is used or should be tested.
      </div>
      {% if not suppress_buttons %}
      <div class="add-note" data-module="{{ machine_name }}">
        <div class="add-icon"></div>
      </div>
      {% endif %}
    </div>
    <div>
      <table id="note-table-{{ machine_name }}" class="module-usage-table">
        <tr>
          <th class="date-entered">Date Entered</th>
          <th class="last-modified">Last Modified</th>
          <th>Notes</th>
          {% if not suppress_buttons %}
          <th>&nbsp;</th>
          {% endif %}
        </tr>
        {% for item in notes %}
          <tr>
            <td class="date-entered">{{ item.created | date('Y-m-d') }}</td>
            <td class="last-modified">{{ item.changed | date('Y-m-d') }}</td>
            <td>
              {% if item.note_title %}
              <div class="note-title">{{ item.note_title }}</div>
              {% endif %}
              {{ item.note_text }}
            </td>
            {% if not suppress_buttons %}
            <td class="icons">
              <div class="delete-note" data-noteid="{{ item.id }}" data-module="{{ machine_name }}">
                <div class="delete-icon"></div>
              </div>
              <div class="edit-note" data-noteid="{{ item.id }}" data-module="{{ machine_name }}">
                <div class="edit-icon"></div>
              </div>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
